{% extends 'layout.html' %}

{% block title %}{{ super() }}: Index View{% endblock %}

{% block content %}
{{ super() }}
<h1>User List</h1>
<p><a href="{{ url_for('create') }}">create new user</a></p>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Username</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for user in user_list %}
    <tr>
      <td>{{ user.id }}</td>
      <td>
        <a href="{{ url_for('detail', pk=user.id) }}">{{ user.username }}</a>
      </td>
      <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
      <td>
        <a href="{{ url_for('edit', pk=user.id) }}">edit</a>
        <a href="{{ url_for('delete', pk=user.id) }}">delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
